@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



@font-face {
  font-family:"roboto-Regular";
  src: url(/public/fonts/Roboto-Regular.ttf);
}
@font-face {
  font-family:"roboto-bold";
  src: url(/public/fonts/Roboto-Bold.ttf);
}
.back-img{
  background-image: url(./assets/images/img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (max-width: 991.98px) {
  .RegisRes{
    flex-direction: row;
  }
  .Registra {
    width: 100%;
  }
 }


 /* home section  */

 .food{
  letter-spacing: 3px;
 }
 .AllPostBtn:hover{
  border: 5px solid black !important;
  background-color: white !important;
  color: black !important;
}

 /* @media (max-width: 991.98px) { 
  .PostRes{
    flex-direction: row;
  }
.postImg{
  width: 50%;
}

 } */

 /* last section  */
 .emailIn{
  width: 85%;
  height: 40px;
  outline: none;
  border: 1px solid black;
 }
 .Subscribe{
  width: 85%;
  height: 40px;
  background-color: black;
  color: white;
 }

 .Subscribe:hover{
  border: 5px solid black !important;
  background-color: white !important;
  color: black !important;
 }



 /* about section  */
 @media (max-width: 991.98px) {
.PeragrapSec{
  width: 50%;
}
 }

 @media (max-width: 575.98px) {
  .PeragrapSec{
    width: 100%;
 }
}


/* porductd */
@media (max-width:  768px) { 
  .log{
    padding: 0px !important;
    font-size: 7px;
    border: none !important;
    line-height: 2 !important;
  }
}

@media (max-width: 575.98px) {
  .logRes{
    display: none !important;
  }

  .navLog{
    display: block !important;
  }
}


@media (max-width: 575.98px) { 
  .back{
    font-size: 13px;
  }
 }


 @media (max-width: 991.98px) {
  .CookingWith{
    display: none;
  }
 }


